.popup__input-error_visible {
  display: block;
  min-width: 164px;
  max-height: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  padding: 0;
  position: absolute;
  top: 32px;
  left: 36px;
}

@media screen and (max-width: 440px) {
  .popup__input-error_visible {
    top: 32px;
    left: 15px;
  }
}
