.popup__form_type_signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 358px;
  width: 100%;
  margin: 0 auto; 
  padding-top: 60px;
}

  @media screen and (max-width: 513px) {
    .popup__form_type_signin {
      width: 350px;
    }
  }
  @media screen and (max-width: 430px) {
    .popup__form_type_signin {
      width: 270px;
    }
  }