.elements__text-likecounter{
    font-size: 13px;
    line-height: 1.2;
    font-family: 'Inter', Arial, sans-serif;
    width: 9px;
    height: 13px;
    color: black;
    margin: auto;
    text-align:center;
}